{% extends 'base.html.twig' %}

{% block title %}Accueil - Home Cloud
{% endblock %}

{% block body %}
	<h1>Home Cloud</h1>

	{% if not app.user %}
		{% include 'home/_auth_link.html.twig' %}
	{% endif %}

	{% if app.user %}
		{% include 'home/_upload_button.html.twig' %}
	{% endif %}
{% endblock %}
