{% extends 'base.html.twig' %}

{% block title %}Accueil - Home Cloud
{% endblock %}

{% block body %}
	<h1>Bienvenue sur Home Cloud</h1>
	<p>Page d'accueil publique accessible sans authentification.</p>
{% endblock %}
