{% extends 'base.html.twig' %}

{% block title %}Accueil - Home Cloud
{% endblock %}

{% block body %}
	<h1 class="text-xl font-bold mb-4">Home Cloud</h1>

	{% if not app.user %}
		{% include 'home/_auth_link.html.twig' %}
	{% endif %}

	{% if app.user %}
		<div class="mb-6">
			{% include 'home/_upload_button.html.twig' %}
		</div>
		<section class="bg-white rounded shadow p-4 mb-4">
			<h2 class="text-lg font-semibold mb-2">Mes fichiers</h2>
			{% include 'home/_file_bulk_delete_form.html.twig' %}
		</section>
	{% endif %}
{% endblock %}
