{% extends 'base.html.twig' %}

{% block title %}Accueil - Home Cloud
{% endblock %}

{% block body %}
	<h1 class="text-2xl font-bold mb-6">Bienvenue sur Home Cloud</h1>
	<div class="flex flex-col gap-4 w-full max-w-xs mx-auto mb-8">
		<a href="{{ path('files_list') }}" class="btn btn-blue">Accéder à mes fichiers</a>
		<a href="{{ path('photos_home') }}" class="btn btn-blue">Se connecter à Photos</a>
	</div>
{% endblock %}
