note.txt
.credentials
.token
lenouvel.me/.env
lenouvel.me/.env.*
lenouvel.me/public/bundles/
lenouvel.me/var/
lenouvel.me/vendor/

###> phpunit/phpunit ###
lenouvel.me/phpunit.xml
lenouvel.me/.phpunit.cache/
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
lenouvel.me/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
