body {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: skyblue;
=======
    background-color: black;
>>>>>>> 62eea3b (Revert "bundles : symfonycasts/sass-bundle symfonycasts/tailwind-bundle")
=======
    background-color: skyblue;
>>>>>>> c81af8c (init : (re)install)
}
