@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --background-color-main: #fafafa;
    /** Text colors */
    --shadow-title: #079EDD;
}

body {

    background-color: var(--background-color-main);
}

h1 {

    font-weight: 700;
    text-shadow: 1px 1px 2px var(--shadow-title);
}

ul.left-column > li > span {

    margin-left: 2rem;
}

.footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}
