@import "tailwindcss";
@import "button";
@import "form";
@import "navbar";
@import "layout";
@import "liquid-glass";

nav .navbar-logo .navbar-logo-cloud {
  text-shadow: -3px 6px 4px rgba(60,70,110,0.38);
}