@tailwind base;
@tailwind components;
@tailwind utilities;

/* Effet glassmorphism */
.glass {
	background: rgba(255,255,255,0.15);
	backdrop-filter: blur(12px);
	border-radius: 1rem;
	border: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.15);
}


