@import "./reset.css";
@import "./glass-navbar.css";
@import "./_photo-glass-card.css";
@import "./photos-home.css";
@import "./gallery-bg.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


