<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}HomeCloud{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9OVP41lLn2aEBkc8BlI6W//7/+yyMfhWVrGcKozk8Ck62FuNTRhDtb6sMMBjYfrvSdnWJYAOVsJm7lIUiBqQEA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {{ importmap('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-gray-50 dark:bg-slate-900 text-gray-900 dark:text-slate-100 min-h-screen transition-colors">
        {# Affichage global des messages flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <twig:FlashMessage :type="label" :message="message" />
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
