<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' style='enable-background:new 0 0 2048 2048' xml:space='preserve' width='100' height='100'%3E%3Cpath style='fill:%23465a65' d='M364.511 1403.176h461.508v224.531H364.511zM1221.981 1403.176h461.508v224.531h-461.508z'/%3E%3Cpath style='fill:%23cfd8dd' d='M1024 1134.258c-13.682 0-24.774-11.092-24.774-24.774V942.336c0-13.682 11.092-24.774 24.774-24.774s24.774 11.092 24.774 24.774v167.148c0 13.682-11.092 24.774-24.774 24.774z'/%3E%3Cpath style='fill:%23cfd8dd' d='M1452.735 1306.81c-13.682 0-24.774-11.092-24.774-24.774v-123.004h-379.187c-13.682 0-24.774-11.092-24.774-24.774s11.092-24.774 24.774-24.774h403.961c13.682 0 24.774 11.092 24.774 24.774v147.778c0 13.683-11.092 24.774-24.774 24.774z'/%3E%3Cpath style='fill:%23cfd8dd' d='M595.265 1306.81c-13.682 0-24.774-11.092-24.774-24.774v-147.778c0-13.682 11.092-24.774 24.774-24.774h408.366c13.682 0 24.774 11.092 24.774 24.774s-11.092 24.774-24.774 24.774H620.039v123.004c0 13.683-11.091 24.774-24.774 24.774z'/%3E%3Cpath style='fill:%23bbecff' d='M784.933 942.336c-94.437 0-170.997-76.56-170.997-171.005 0-47.222 19.144-89.97 50.082-120.915 30.946-30.946 73.7-50.082 120.915-50.082h10.142c0-126.435 102.49-228.925 228.925-228.925s228.925 102.49 228.925 228.925h10.142c94.437 0 170.997 76.553 170.997 170.997 0 47.222-19.144 89.97-50.082 120.923-30.946 30.938-73.7 50.082-120.915 50.082H784.933z'/%3E%3Ccircle style='fill:%23465a65' cx='1024' cy='1134.256' r='45.138'/%3E%3Cpath style='fill:%23cfd8dd' d='M1752 1676.591h-598.53c-22.091 0-40-17.909-40-40v-103.075c0-22.091 17.909-40 40-40H1752c22.091 0 40 17.909 40 40v103.075c0 22.091-17.909 40-40 40zM1752 1465.111h-598.53c-22.091 0-40-17.909-40-40v-103.075c0-22.091 17.909-40 40-40H1752c22.091 0 40 17.909 40 40v103.075c0 22.092-17.909 40-40 40z'/%3E%3Ccircle style='fill:%23465a65' cx='1647.76' cy='1373.574' r='32.327'/%3E%3Ccircle style='fill:%23465a65' cx='1554.626' cy='1373.574' r='32.327'/%3E%3Cpath style='fill:%23465a65' d='M1421.331 1398.348h-195.948c-13.682 0-24.774-11.092-24.774-24.774s11.092-24.774 24.774-24.774h195.948c13.682 0 24.774 11.092 24.774 24.774s-11.092 24.774-24.774 24.774z'/%3E%3Ccircle style='fill:%23465a65' cx='1647.76' cy='1585.053' r='32.327'/%3E%3Ccircle style='fill:%23465a65' cx='1554.626' cy='1585.053' r='32.327'/%3E%3Cpath style='fill:%23465a65' d='M1421.331 1609.828h-195.948c-13.682 0-24.774-11.092-24.774-24.774s11.092-24.774 24.774-24.774h195.948c13.682 0 24.774 11.092 24.774 24.774s-11.092 24.774-24.774 24.774z'/%3E%3Cpath style='fill:%23cfd8dd' d='M894.53 1676.591H296c-22.091 0-40-17.909-40-40v-103.075c0-22.091 17.909-40 40-40h598.53c22.091 0 40 17.909 40 40v103.075c0 22.091-17.908 40-40 40zM894.53 1465.111H296c-22.091 0-40-17.909-40-40v-103.075c0-22.091 17.909-40 40-40h598.53c22.091 0 40 17.909 40 40v103.075c0 22.092-17.908 40-40 40z'/%3E%3Cg%3E%3Ccircle style='fill:%23465a65' cx='790.29' cy='1373.574' r='32.327'/%3E%3Ccircle style='fill:%23465a65' cx='697.156' cy='1373.574' r='32.327'/%3E%3Cg%3E%3Cpath style='fill:%23465a65' d='M563.86 1398.348H367.913c-13.682 0-24.774-11.092-24.774-24.774s11.092-24.774 24.774-24.774H563.86c13.682 0 24.774 11.092 24.774 24.774s-11.091 24.774-24.774 24.774z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Ccircle style='fill:%23465a65' cx='790.29' cy='1585.053' r='32.327'/%3E%3Ccircle style='fill:%23465a65' cx='697.156' cy='1585.053' r='32.327'/%3E%3Cg%3E%3Cpath style='fill:%23465a65' d='M563.86 1609.828H367.913c-13.682 0-24.774-11.092-24.774-24.774s11.092-24.774 24.774-24.774H563.86c13.682 0 24.774 11.092 24.774 24.774.001 13.682-11.091 24.774-24.774 24.774z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E" type="image/svg+xml">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    {% block body %}{% endblock %}

    </body>
</html>
