<nav class="glass-navbar w-full grid grid-cols-3 items-center px-4 py-2 gap-2 shadow-lg sticky top-0 m-0">
	<div class="flex items-center">
		{% include 'components/partials/navbar-title.html.twig' %}
	</div>
	<div class="flex justify-center items-center">
		{% include 'components/partials/navbar-search.html.twig' %}
	</div>
	<div class="flex items-center justify-end">
		{% include 'components/partials/navbar-actions.html.twig' %}
	</div>
	<div class="glass-navbar-tint"></div>
	<svg class="glass-navbar-svgfilter" width="0" height="0">
		<filter id="glass-distort" x="-20%" y="-20%" width="140%" height="140%">
			<feTurbulence type="turbulence" basefrequency="0.02 0.04" numoctaves="2" seed="2" result="turb"/>
			<feDisplacementMap in2="turb" in="SourceGraphic" scale="8" xchannelselector="R" ychannelselector="G"/>
		</filter>
	</svg>
</nav>
